.numbers-inner{
  width: 30%;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 20px;
}

.number{
  padding: 5px 5px;
  border: 1px solid lightgray;
  border-radius: 50%;
}

